html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
}
img {
  border-style: none;
}
textarea {
  overflow: auto;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: rgb(77, 77, 77);
  font-family: 'Roboto', georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  margin: 0;
}
img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
h1 {
  font-size: 64px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  font-weight: 400;
}
h4 {
  font-size: 16px;
  font-weight: 400;
}
h5 {
  font-size: 15px;
  font-weight: 400;
}
h6 {
  font-size: 14px;
  font-weight: 400;
}

ul {
  margin: 0 0 0 48px;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;
}
p {
  margin: 0;
  padding: 0;
  line-height: 180%;
}

/*------------------------------ Mike Stuff ----------------------------- */
.accent-bar {
  width: 64px;
  height: 2px;
  background-color: rgba(201, 222, 18, 1);
  margin: 16px 0 16px 0
}

.titles {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 0 0;
}

.cozy {
  line-height: 180%;
}

@media (min-width: 961px) {
  .titles {
    font-size: 32px;
  }
}


